{% extends 'music/base.html' %}

{% block albums_active %}active{% endblock %}
{% load staticfiles %}
{{% block body %}
<div class="albums-container container-fluid">

    <!-- Albums -->
    <div class="row">
        <div class="col-sm-12">
        </div>
        {% if all_albums %}
            {% for album in all_albums %}
                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail" >

                        {% if album.album_logo %}
                        <a href="{% url 'music:detail' album.id %}">
                            <img src="{{ album.album_logo.url }}" class="img-responsive" alt="Image not found" width="185" height="185"  />
                        </a>
                        {% else  %}
                        <a href="{% url 'music:detail' album.id %}">
                            <img src='{% static "images/mus.png" %}' class='img-responsive' alt='Image not found' />
                        </a>
                        {% endif %}

                        <div class="caption">
                            <h2>{{ album.album_title }}</h2>
                            <h4>{{ album.artist }}</h4>

                            <!-- View Details -->
                            <a href="{% url 'music:detail' album.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>

                            <!-- delete modal trigger -->
                            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal" data-id="{{ album.id }}"><span class="glyphicon glyphicon-trash"></span></button>

                            <!-- Favorite Album -->
                            <a href="{% url 'music:album-favorite' album.id %}" class="btn btn-default btn-sm btn-favorite">
                                <span class="glyphicon glyphicon-star  {% if album.is_favorite %}text-primary active{% endif %}"></span>
                            </a>

                        </div>
                    </div>
                </div>

                <!-- Delete Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Delete Album</h4>
                      </div>
                      <div class="modal-body">
                          <h3>Are you sure you want to delete this Album</h3>
                          <form action="{% url 'music:album-delete' album.id %}" method="post" style="display: inline;">
                              {% csrf_token %}
                              <input type="hidden" name="album_id" value="{{ album.id }}" />
                              <button type="submit" class="btn btn-danger btn-sm">
                                  Delete
                              </button>
                          </form>

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>

                  </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-sm-12">
                <br>
                <a href="{% url 'music:album-add' %}">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Add an Album
                    </button>
                </a>
            </div>
        {% endif %}
    </div>




</div>


{% endblock %}



